# Android Studio
.idea/
*.iml
.gradle/
build/

# Local user-specific files
local.properties

# Log files
*.log

# Temporary files
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

app/src/main/assets/heartrate.mp4